@import url("right.css");
@import url("left.css");
@media (max-width:1024px) {

    .left {
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5vw;
        overflow-y: auto;
        height: 100vh;
        translate: -100% 0;
    }

    .left.appear {
        translate: 0 0;
    }


    .right {
        width: 80vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 5vw;
    }

    .hide_open__left {
        position: fixed;
        top: 2.5vw;
        left: 2.5vw;
        width: 10vw;
        height: 10vw;
        background-color: var(--vien_color_right);
        border-radius: 50%;
        display: flex;
        align-items: center;
    }

    .menu_icon {
        position: fixed;
        width: 10vw;
        font-size: 5vw;
        text-align: center;
        color: white;
    }

    .hide_open__left.appear {
        transform: translateX(30.5vw);
    }

}

@media (min-width:1025px) {
    .left {
        width: 20.5vw;
        background: black;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5vh;
        overflow-y: auto;
        height: 100vh;
        scrollbar-color: rgb(54, 47, 47) rgb(162, 157, 157);
    }

    .right {
        margin: 0 0.5vw 0 25.5vw;
        width: calc(100% - 20.5vw);
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 5vw;
    }

    .hide_open__left,
    .menu_icon {
        display: none;
    }

}

html {
    scroll-behavior: smooth;
}